main{
    min-height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.form-container{
    height: fit-content;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    form{
        
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,button{
            outline: none;
            border: none;
            padding-inline: 1.5rem;
            padding-block: 1rem;
            border-radius: 1rem;
        }

        button{
            background-color: crimson;
            font-size: 1.4rem;
            font-weight: 600;
            color: whitesmoke;
            cursor: pointer;
        }
    }
            .toggleAuthForm{
                color: red;
                cursor: pointer;
                text-decoration: none;
            }
}