* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.notes {
  display: flex;
  flex-wrap: wrap;
}


.note {
  background-color: rgb(44, 42, 42);
  padding: 1rem;
  margin: .5rem 1rem;
  color: wheat;
  border-radius: 1rem;

}