.form-container-page {
    max-width: 350px;
    width: 100%;

    form{
        display: flex;
        flex-direction: column;

        gap: 1rem;
    }

    .create-image-label {
        background-color: rgb(158, 157, 157);
        color: rgb(39, 38, 38);
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 1rem;
    }
    input{
        padding-inline: 1rem;
        padding-block: 0.5rem;
        border-radius: 1rem;
    }


}