* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
html,
body,
#root {
    width: 100%;
}

html{
    background-color: rgb(20, 20, 20);
    color: wheat;
}
